<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link building</title>
</head>
<body>
    <h1>I love link outreach. And, {{method}} methods of best Link building.</h1>
    
    {% if method == 5 %}
    <h3>Four available method I'm using</h3>
    
    {% elif member == 'ahpro'%}
    <h3>Member of AHPRO.</h3>

    {% else %}
    <h4>Running the else part. have some technique.</h4>
    {% endif %}

</body>
</html>